body {
  font-family: 'Roboto';
}

paper-toolbar.tall {
  background: rgba(64,64,64,0.9);
}

paper-card .card-content {
  padding-top: 0;
}

paper-button {
  color: #444;
}

.title a {
  color: inherit;
  text-decoration: inherit;
}

#menu {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  background-color: rgba(255,255,255,0.9);
  transition: background-color 0.2s, box-shadow 0.2s;

  a {
    text-decoration: none;
    color: inherit;
  }

  &.noback {
    box-shadow: none;
    background-color: transparent;
  }
}

a {
  color: #039BE5;
  text-decoration: none;
  &:hover {
    color: #0384C3;
  }
}


#header {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../img/BlurryBlue.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;

  #title {
    $logo-size: 300px;

    width: 100%;
    top: calc(40% - 150px);
    position: absolute;
    text-align: center;

    img {
      height: $logo-size;
    }
  }
  #buttons {
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;

    paper-button {
      background-color: white;
    }
  }
}

#trees {
  min-width: 100%;
  max-width: 100%;
  bottom: 0px;
  position: absolute;
  margin-bottom: -1px;
}

@media (max-width: 699px) {
  #trees {
    max-width: 300%;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  #trees {
    max-width: 150%;
  }
}

footer {
  margin-top: 150px;
  background-color: #eee;
  padding: 50px;
  padding-bottom: 35px;

  .imgcont img {
    max-height: 100px;
  }
  a {
    display: block;
  }
  table {
    width: 100%;

    td:last-child {
      text-align: right;
    }
  }
}
h2, h3 {
  margin-bottom: -5px;
  margin-top: 30px;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
h1 {
  text-align: center;
}
.content {
  font-weight: 200;
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}
.wrapper {
  padding: 0 15px;
}

body paper-card {
  margin: 50px auto;
  display: block;
  max-width: 600px;
}

#warning {
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
