<dom-module id="index-page">
  <template>
    <style>
      :host {
        display: block;
        padding-bottom: 50px
      }
      paper-button.blue {
        background: #4285f4;
        color: #fff;
      }
      #intro {
        text-align: center;
      }
      p {
        font-weight: 200;
      }
    </style>
    <div id="intro">
      <h1>FEBRUARY 2016</h1>
      <p>THIS IS nwHACKS 2016.</p>
      <p>
      nwHacks is the largest hackathon in Western Canada, and we're coming back on Febraury 2016 in UBC to host another hackathon!
      <br>
      nwHacks is more than a hackathon—it's about growing and connecting the community of awesome hackers.
      <br>
      Anyone and everyone is welcome at nwHacks, from hackathon veterans to first-timers!
      </p>
    </div>
  </template>

  <script>
// element registration
Polymer({
  is: "index-page",

  properties: {
  }
});
  </script>

</dom-module>
