<dom-module id="index-page">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-button.blue {
        background: #4285f4;
        color: #fff;
      }
    </style>

    <paper-card heading="nwHacks">
      <div class="card-content">
        <a href="#!/register"><paper-button class="blue" elevation="1">Register</paper-button></a>
        <a href="http://2015.nwhacks.io"><paper-button elevation="1">Previous Hacks</paper-button></a>
        <a href="http://q.nwhacks.io"><paper-button elevation="1">Get Help and mentors</paper-button></a>
      </div>
    </paper-card>
  </template>

  <script>
// element registration
Polymer({
  is: "index-page",

  properties: {
  }
});
  </script>

</dom-module>
